.appHeader{
    position: fixed;
    width: 100%;
    top: 0;
    background: #42424c;
    z-index: 999;
    display: flex;

    ul{
        list-style: none;
    }
}

.searchBar{
    flex: 1;
    text-align: right;
    margin-right: 1rem;
}

.searchInput{
    line-height:1.2rem;
    position: Relative;
    top: 15px;

    input{
        line-height: 1.2rem;
        border: none;
        width: 60%;
    }
}

.avatar{
    margin: .3rem;
    width: 50px;
    height: 50px;
    left: 8%;
    box-shadow: 2px 2px 10px #111;
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}


.rightRotate{
    width: 100px;
    height: 100px;
    transform: rotate(360deg);
    box-shadow: 0 0 0 #111;
    transition: all 1s ease-in-out;
}

.leftRotate{
    width: 100px;
    height: 100px;
    transform: rotate(-360deg);
    box-shadow: 0 0 0 #111;
    transition: all 1s ease-in-out;
}

.menuList{
    flex: 1;
    margin: 0;
    width: 100%;
    padding : 0;
}

.menuItem{
    line-height: 3rem;
    display: inline-block;
    width: 7rem;
    text-align: center;

    &.active{
        background-color: rgba(0,0,0,0.2);
        a{
            color: #63c9ea;
        }
    }
}