.container{
    position: relative;
    cursor: pointer;
}

.video{
    width: 100%;
    height: 100%;
    background-color: white;
}

.controller{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    &.pause{
        background-color: rgba(0,0,0,0.7);
    }
}

.centerIconContainer{
    text-align: Center;
    transform: translateY(50%);
}

.centerIcon{
    width:175px;
    height:175px;
    stroke: white;
    fill:white;

    &.hide{
        stroke: transparent;
        fill: transparent;
        transition: all .38s linear
    }
}