$backgroundColor: #e9ebee;
$blogContentColor: #6b6b6b;
$headerColor: #42424c;

$tablet-width: 768px;
$desktop-width: 1024px;

$yellow: #f3eb54;
$orange: #f69a33;
$blue: #2eacb3;
$gray_blue: #b3ccba;
$red: #e84f5e;

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}