.header{
    z-index: 999;
}

.container{
    padding: 10rem 0;
}

.inputContainer{
    padding: 1rem;
}

.login{
    width: 50%;
    margin: auto;
    background-color: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    text-align: center;
    padding: 2rem;
}

.input{
    font-size: 1.5rem;
    width:80%;
    line-height: 2rem;
}

.submitButton{
    border: 0;
    background: #6d8e5d;
    border-radius: 5px;
    height: 39px;
    width: 100px;
    cursor: pointer;
    &:hover{
        background: #587b48;
    }

    &:active{
        background: #49653b;
        box-shadow: 0px 0px 16px 5px rgba(146,146,146,0.97);
    }
}