.forecastCell{
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.1rem;
}

.icon{
    float:left;
}

.temperature{
    color: #e2653b;
}

.unit{
    font-size: 8px;
    vertical-align: top;
}